body {
	background: #777777;
	padding: 30px;

}
h1 {
	color: #FFFFFF;
	font-family: Helvetica;
	letter-spacing: -3px;
	text-decoration: underline;
	text-shadow: 3px 3px 6px lightslategray;
}
h2 {
	color: #FFFFFF;
	font-family: Helvetica;
	font-size: 40px;
	letter-spacing: -3px;
	text-decoration: overline;
	text-shadow: 4px -2px 7px black;
}
a {
	color: #FFFFFF;
	font-size: 15px;
	font-family: Times New Roman;
	letter-spacing: 2px;
	text-decoration: line-through;
	text-shadow: 2px 2px 7px red;
}
a:hover {
	color: #FF0000;
	font-size: 17px;
	font-family: Times New Roman;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: -2px;
}
p {
	font-family: Courier;
	font-size: 17px;
	letter-spacing: -1px;
	word-spacing: -5px;
}
ul {
	font-family: Courier;
	font-size: 17px;
	letter-spacing: -1px;
	word-spacing: -3px;
}
div {
	border-style: solid;
	border-width: 1px;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 55px;
	padding-right: 55px;
}